.Aboutsectionwrapper{
    margin: 0 85px;
    &-details{
        display: flex;
        gap: 40px;
        &-left{
            margin-bottom: 50px;
        }
        &-right{
            h1{
                     color: $color-head;
                     margin: 0;
                     margin-top: 15px;
      font-weight: $font-semibold;
            }
             h3{
      font-weight: $font-regular;
      margin-bottom: 30px;
    }
    p{
        line-height: 1.7;
        margin-bottom: 30px;
    }
        }
    }
    &-contact{
        display: flex;
        gap: 100px;
        ul{
            padding: 0;
            li{
                list-style: none;
                margin-bottom: 10px;
                font-size: $text-medium;
                color: $color-body;
                svg{
                    margin-right: 10px;
                    color: $primary;
                }
            }
        }
    }
    &-work{
        display: flex;
        .fun-fact{
            width: 300px;
            display: flex;
            gap: 15px;
            padding: 25px;
            span{
                svg{
                    font-size: 32px;
                    color: $primary;
                }
            }
            &-disc{
                p{
                    font-size: $small-head;
                    margin-bottom: 10px;
                    font-weight: $font-bold;
                }
                span{
                   font-weight: $font-medium;
                   font-size: $text-regular; 
                }
            }
        }
    }
}