.Aboutsectionwrapper{
    // border: 2px solid red;
    width: 100%;
    &-details{
        display: flex;
        // margin: 0 46px;
        padding: 0 7.5px 0 20px;
        gap: 15px;
        width: 100%;
        &-left{
            width: 40%;
              margin-bottom: 50px;
              padding:0 10px;
            //   border: 2px solid red;
              margin-left: 46px;
              img{
                width: 100%;
              }
        }
        &-right{
            margin-top: 10px;
            margin-right: 46px;
            // border: 2px solid blue;
            width: 55%;
            padding: 0 10px;
                    h1{
                     color: $color-head;
                     margin: 0;
                     margin-top: 15px;
      font-weight: $font-semibold;
            }
             h3{
      font-weight: $font-regular;
      margin-bottom: 30px;
    }
    p{
        line-height: 1.7;
        margin-bottom: 30px;
    }
        }
        
    }
    &-contact{
        display: flex;
        gap: 20%;
        ul{
            padding: 0;
            li{
                list-style: none;
                margin-bottom: 10px;
                font-size: $text-medium;
                color: $color-body;
                svg{
                    margin-right: 10px;
                    color: $primary;
                }
            }
        }
    }
        &-work{
            // border: 2px solid blue;
            justify-content: center;
        display: flex;
        gap: 6%;
        .fun-fact{
            // border: 2px solid red;
            width: 220px;
            display: flex;
            span{
                svg{
                    font-size: 32px;
                    color: $primary;
                    margin-right: 10px;
                }
            }
            &-disc{
                p{
                    font-size: $small-head;
                    margin-bottom: 10px;
                    font-weight: $font-bold;
                }
                span{
                   font-weight: $font-medium;
                   font-size: $text-regular; 
                }
            }
        }
    }
}
@media only screen and (max-width:992px) and (min-width:769px){
  .Aboutsectionwrapper{
    &-details{
        gap: 0px;
        &-left{
            margin-left: 26px;
            width: 45%;
            display: flex;
            align-items: center;
        }
        &-right{
            padding-right: 0;
            margin-right: 26px;
        }
    }
    &-contact{
            gap: 5%;
        }
        &-work{
            flex-wrap: wrap;
            width: 100%;
            // border: 2px solid red;
            align-items: center;
            justify-content: center;
            gap: 20%;
            .fun-fact{
                margin-bottom: 2%;
                margin-top: 5%;
            }
        }
  }
}
