.Herosectionwrapper {
  height: 100vh;
  background: url(../../assets/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // border: 2px solid red;
  &-coloroverlay {
    background-color: rgba($color-secondary, 0.5);
    height: 100%;
    position: relative;
    // border: 2px solid red;
    &-mail {
      text-align: center;
      // border: 2px solid green;
      width: 90px;
      height: 65px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $primary;
      svg {
        // padding: 60px;
        width: 25px;
        height: 100%;
        color: $color-secondary;
      }
    }
    &-contact {
        display: flex;
        gap: 14%;
        align-items: center;
        padding: 33px 33px;
        p{
            color:$color-head ;
            margin: 0;
            font-weight: $font-medium;
        }
    }
    &-info{
        position: absolute;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 14%;
        &-details{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1{
                color: $color-white;
                span{
                    color: $primary;
                }
            }
            p{
                color:$color-white;
            }
            .discription{
                color: $color-head;
            }
        }
    }
    &-socialmedia{
        position: absolute;
        right: 7%;
        top: 40%;
        span{
            border: 1px solid $color-border;
            display: flex;
            flex-direction: column;
            width: 40px;
            height: 40px;
            margin-bottom: 15px;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            transition: all 0.1s ease;
            &:hover{
                border: 1px solid $primary;
                border-radius: 50%;
                svg{
                    color: $primary;
                }
            }
            svg{
                font-size: 25px;
                color: $color-border;
                padding: 5px;
            }
        }
    }
  }
}
@media only screen and (max-width:992px) and (min-width:769px){
    .Herosectionwrapper{
        &-coloroverlay{
            &-mail{
                display: none;
            }
            &-contact{
                justify-content: center;
            }
            &-info{
                width: 50%;
                margin-left: 12%;
                top: 55%;
                &-details{
                    .discription{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
