.Resumesectionwrapper {
    background-color: #f7f7f7;
    padding: 0 20px;
    height: fit-content;
    width: 100%;
  &-experience {
    &-individual {
      display: flex;
      gap: 10px;
    }
  }
  &-button{
    width: 100%;
    text-align: center;
    padding-top: 100px;
  }
  &-progress{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-left{
      margin-left: 90px;
      width: 40%;
      padding-top: 90px;
      .progressbar{
        h5{
          font-size: $text-medium;
          font-weight: $font-medium;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        progress{
          width: 100%;
          border: none;
          height: 6px;
          &::-webkit-progress-bar{
            border-radius: 5px;
            background-color: #e9ecef;
          }
          &::-webkit-progress-value{
            background-color: $primary;
          }
        }
      }
    }
    &-right{
      padding-top: 85px;
      width: 40%;
      margin-right: 95px;
      .progressbar{
         h5{
          font-size: $text-medium;
          font-weight: $font-medium;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
           progress{
          width: 100%;
          border: none;
          height: 6px;
          &::-webkit-progress-bar{
            border-radius: 5px;
            background-color: #e9ecef;
          }
          &::-webkit-progress-value{
            background-color: $primary;
          }
        }
      }
    }
  }
}
.Resumeborder {
  position: relative;
  border-left: 3px solid $color-grey;
  left: 3rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  &-boxes{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    .box{
        // border: 2px solid blue;
        display: flex;
        width: 425px;
        height: 180px;
        padding: 30px;
        background-color: $color-white;
        border-radius: 10px;
    }
  }
}
.circle{
    height: 100%;
    position: absolute;
    left: -0.45rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    margin-top: 20%;
    gap: 30%;
    z-index: 3;
    top: 0;
    span{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            font-size: 6px;
            color: $primary;
        }
    }
}
@media only screen and (max-width:992px) and (min-width:768px){
 .Resumesectionwrapper{
  padding: 0;
  &-progress{
    &-left{
      margin-left: 40px;
    }
    &-right{
      margin-right: 40px;
    }
  }
 }
 .Resumeborder{
  left: 1rem;
  margin-left: 40px;
  &-boxes{
    padding-left: 50px;
    .box{
      width: 270px;
      height: 250px;
    }
  }
 }
}
@media only screen and (max-width:769px) and (min-width:480px){

   .Resumesectionwrapper{
    &-experience{
      // border: 2px solid red;
      &-individual{
            // display: flex;
      flex-direction: column;
      //  margin-left: 5%;
      // justify-content: center;
      align-items: center;
      }
    }
  &-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-left{
      margin: 0;
      width: 80%;
    }
    &-right{
      margin: 0;
         width: 80%;
    }
  }
 }
 .Resumeborder{
  // border: 2px solid green;
  left: 0;
  width: 90%;
  margin: 0;
  margin-left: 10%;
  &-boxes{
    .box{
      width: 80%;
      height: 80%;
     
    }
  }
 }
}
@media only screen and (max-width:479px){

   .Resumesectionwrapper{
    &-experience{
      // border: 2px solid red;
      &-individual{
            // display: flex;
      flex-direction: column;
      //  margin-left: 5%;
      // justify-content: center;
      align-items: center;
      }
    }
  &-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-left{
      margin: 0;
      width: 80%;
    }
    &-right{
      padding-top: 20px;
      margin: 0;
         width: 80%;
    }
  }
  &-button{
    padding: 40px;
  }
 }
 .Resumeborder{
  // border: 2px solid green;
  left: 0;
  width: 90%;
  margin: 0;
  margin-left: 10%;
  &-boxes{
     padding-left: 30px;
    .box{
      width: 90%;
      height: 80%;
     
    }
  }
 }
}