.sidebarwrapper{
&-logo{
  position: relative;
  img{
    width: 100%;
  }
  button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:$primary;
    height: 45px;
    border: none;
  }
}
&-content{
  ul{
    margin-top: 20px;
    li{
      list-style: none;
      color: $color-light;
      padding: 10px;
      svg{
        margin-right: 10px;
        font-size:$text-medium ;
      }
    }
  }
  p{
    text-align: center;
    color: $color-grey;
    font-weight: $font-regular;
    line-height: 1.2;
  }
}
}
.sidebarwrapper-content-menu li:hover {
  color: $primary; /* icon and text will both turn white */
}