//font size
$title:50px;
$heading:40px;
$subhead:30px;
$section-head: 27px;
$small-head: 22px;
$text-large: 20px;
$text-medium:18px;
$text-regular:16px;
$text-small:14px;

//font weight
$font-extraextrathin:100;
$font-extrathin:200;
$font-thin:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-extrabold:800;
$font-extraextrabold:900;

//color
$primary:#f9ca21;
$color-secondary:#151931;
$color-body:#46435E;
$color-light:#E2E1F1;
$color-grey:#B4B3C2;
$color-dark:#3B3758;
$accordion-title:#474167;
$accordion-title-dark:#102f28;
$color-white:#ffffff;
$color-head:#d9dae7;
$color-border:#6a6d8d;
$color-logobg:#f5f7ff;
$color-black:#000000;