*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Apply globally */
body {
  font-family: 'Poppins', sans-serif;
  .cursor{
    background-color: #f9ca21;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    }
    button{
      cursor: none;
      &:hover{
        cursor: none;
      }
      &:focus{
        cursor: none;
      }
      &:enabled{
        cursor:none;
      }
    }
}

@import './styles/abstract/_index.scss';
@import './styles/components/_index.scss';
.maincontainer{
    display: flex;
    &-sidebar{
        width: 210px;
        height: 100%;
        min-height: 100vh;
          background-color: $color-secondary;
          position: fixed;
          bottom: 0;
          top: 0;
          left: 0;

    }
    &-main{
        flex: 1;
        margin-left: 210px;
    }
}
@media only screen and (max-width:992px){
   .maincontainer{
    // width: 100vw;
    // border: 2px solid blue;
    &-sidebar{
        display: none;
    }
    &-main{
        width:100%;
        margin:0;
    }
   }
}