h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  color: #151931;
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  color: #151931;
}

h4 {
  font-size: 27px;
  color: #3B3758;
  font-weight: 500;
}

h5 {
  font-size: 22px;
  font-weight: 500;
  color: #102f28;
  line-height: 1;
}

p {
  color: #46435E;
}

p[role=small] {
  font-size: 14px;
}

p[role=medium] {
  font-size: 18px;
}

p[role=large] {
  font-size: 20px;
}

section[role=individual-component] {
  padding: 100px 0;
}

.headers {
  text-align: center;
  margin-bottom: 50px;
}
.headers h1 {
  color: #d9dae7;
  font-weight: 600;
}
.headers h3 {
  font-weight: 400;
}

.sidebarwrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 13.7%;
}
.sidebarwrapper-logo {
  width: 100%;
  height: 13rem;
  position: relative;
}
.sidebarwrapper-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.sidebarwrapper-button {
  background-color: #f9ca21;
  border: none;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  color: #151931;
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.sidebarwrapper-content {
  background-color: #151931;
  height: 100%;
}
.sidebarwrapper-content-menu {
  width: 100%;
  background-color: #151931;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 2rem;
}
.sidebarwrapper-content-menu li {
  display: flex;
  color: #E2E1F1;
  list-style: none;
  align-items: center;
  padding-left: 0.5rem;
  gap: 0.8rem;
  cursor: pointer;
}
.sidebarwrapper-content-menu li:hover {
  color: #f9ca21;
}
.sidebarwrapper-content-menu li svg {
  font-size: 1.1rem;
}
.sidebarwrapper p {
  line-height: 2.8;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #B4B3C2;
}

.Herosectionwrapper {
  height: 100%;
  position: relative;
  height: 100vh;
  background-image: url(../../assets/header-bg.jpg);
  background-size: cover;
}
.Herosectionwrapper-coloroverlay {
  background-color: rgba(21, 25, 49, 0.5);
  height: 100vh;
  padding: 100px;
  padding-top: 0;
}
.Herosectionwrapper-mail {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 30px;
  background-color: #f9ca21;
  font-size: 1.5rem;
  color: #151931;
}
.Herosectionwrapper-mail svg {
  margin: 0.5rem 0rem;
}
.Herosectionwrapper-contact {
  display: flex;
  padding-top: 1.2rem;
  gap: 15%;
}
.Herosectionwrapper-contact p {
  color: #d9dae7;
  font-weight: 500;
}
.Herosectionwrapper-info {
  width: 85%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Herosectionwrapper-info-details {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 1rem;
  padding-left: 3.5rem;
}
.Herosectionwrapper-info-details h1 {
  color: #ffffff;
}
.Herosectionwrapper-info-details h1 span {
  color: #f9ca21;
}
.Herosectionwrapper-info-details p[role=large] {
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.Herosectionwrapper-info-details p[role=medium] {
  color: #d9dae7;
}
.Herosectionwrapper-info-socialmedia {
  display: flex;
  flex-direction: column;
  width: 16px;
  align-items: center;
  gap: 15px;
}
.Herosectionwrapper-info-socialmedia span {
  border: 1px solid #6a6d8d;
  padding: 6px 10px;
  font-size: 16px;
  color: #6a6d8d;
  cursor: pointer;
  transition: all 0.1s ease;
  border-radius: 5px;
}
.Herosectionwrapper-info-socialmedia span:Hover {
  border: 1px solid #f9ca21;
  border-radius: 50%;
  color: #f9ca21;
}
.Herosectionwrapper-info-socialmedia span svg {
  font-size: 1rem;
}

.button {
  font-size: 400;
  background-color: #f9ca21;
  padding: 1rem 1.7rem;
  color: #151931;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  line-height: 1;
}
.button-primary {
  transition: all 0.5s ease;
}
.button-primary:hover {
  color: #ffffff;
  padding-right: 30px;
  letter-spacing: 0.5px;
}
.button-secondary {
  transition: all 0.5s ease;
}
.button-secondary:hover {
  color: #ffffff;
  padding-right: 30px;
  padding-left: 30px;
  letter-spacing: 0.5px;
}
.button-hire {
  background-color: transparent;
  color: #f9ca21;
  transition: all 0.5s ease;
}
.button-hire:hover {
  padding-bottom: 25px;
  letter-spacing: 0.5px;
}
.button-send {
  background-color: #151931;
  color: #ffffff;
  transition: all 0.5s ease;
}
.button-send:hover {
  padding-right: 30px;
  padding-left: 30px;
  letter-spacing: 0.5px;
}

.Resumesectionwrapper {
  background-color: #f7f7f7;
  padding: 0 20px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.Resumesectionwrapper-experience-individual {
  display: flex;
}
.Resumesectionwrapper-button {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.Resumeborder {
  position: relative;
  border-left: 3px solid #B4B3C2;
  left: 3rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.Resumeborder-boxes {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}
.Resumeborder-boxes .box {
  display: flex;
  width: 425px;
  height: 180px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.circle {
  height: 100%;
  position: absolute;
  left: -0.45rem;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  gap: 30%;
  z-index: 3;
  top: 0;
}
.circle span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #151931;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle span svg {
  font-size: 6px;
  color: #f9ca21;
}

.box {
  width: 390px;
  height: 180px;
  padding: 30px;
  display: flex;
}
.box-logo {
  width: 15%;
}
.box-detail {
  width: 85%;
}
.box h4 {
  margin-bottom: 20px;
}
.box p {
  margin-bottom: 7px;
  padding-bottom: 8px;
}
.box p {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
}

.servicewrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.servicewrapper-details {
  margin-left: 100px;
  display: flex;
  gap: 35px;
}
.servicewrapper-details .service {
  width: 350px;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  padding: 56px 40px;
  gap: 20px;
  position: relative;
}
.servicewrapper-details .service-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.servicewrapper-details .service-logo {
  position: relative;
  height: 60px;
  width: 60px;
  background-color: #f5f7ff;
  border: 2px solid red;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicewrapper-details .service-logo span svg {
  font-size: 1.5rem;
  font-weight: 500;
}
.servicewrapper-details .service-detail {
  position: relative;
}
.servicewrapper-details .service-detail ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.servicewrapper-details .service-detail ul li {
  list-style: none;
}

@keyframes animate {}
* {
  font-family: "Poppins", sans-serif;
}

.maincontainer {
  display: flex;
}
.maincontainer-sidebar {
  width: 13.7%;
}
.maincontainer-main {
  width: 86.3%;
  height: 100vh;
}/*# sourceMappingURL=App.css.map */